.custom-image-gallery {
  width: 100%;
  max-width: 600px;
}

.image-gallery-slide img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.image-gallery-thumbnail img {
  width: 100%;
  height: 60px;
  object-fit: cover;
}

.image-gallery-thumbnails-container {
  margin-top: 10px;
}